<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Information</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            Carlson School of Management <br>
            CSOM 3-151, 321 19th Ave S <br>
            Minneapolis, MN 55455
          </li>
          <li>
            Email: vengu002 [at] umn [dot] edu
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>Linkedin: <a href="https://linkedin.com/in/pvengurlekar" target="_blank">Google Scholar</a></li>
          <li>Code: <a href="https://github.com/pushkar-v" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>